/*RESPONSIVE DESIGN*/
@media screen and (max-width: 1920px){
    body{
        background-color: #FFD325;    
        margin: 10px;
        }

    header #flex-container-1 {
        margin: 10px;
        display: flex;
        justify-content: space-around;
        }

    li {display: inline-block}        

    }

@media screen and (max-width: 1280px){
        body{
            background-color: #FFD325;   
            margin: 10px;         
            }
    
        header #flex-container-1 {
            margin: 10px;
            display: flex;
            justify-content: space-between;
        }

        li {display: inline-block}   

}


@media screen and (max-width: 800px){
    body{
        background-color: #FFD325;
        margin: 10px;
        }

header #flex-container-1 {
        display: inline-block;
        margin: 10px;
        }

    li {display: inline-block}   
        
    }



    
        
    
    
    
    
    



